---
import { Container, TextCardSection } from '@littlesticks/odyssey-theme-components';

import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
---

<Layout>
	<HomeHeroSection />
	<Container>
		<TextCardSection>
			<h1>Apa itu Discord War 2?</h1>
			<p>
				Discord War 2 (atau disingkat DW2) merupakan suatu peristiwa dimana terjadi perseteruan antara komunitas Server AST (atau disebut juga Astonishing) dengan komunitas Server SPF (atau disebut juga dengan Sitil Pren Family).
			</p>
		</TextCardSection>
                <section class="hero-section__section">
                <div class="hero-section__text">
                <h2>Uhhh...</h2>
                        <p>
				Ya, mungkin ini terlihat mengejutkan bagi anda, tetapi ini nyata. Dampak dari perang ini menyebabkan pergantian server SPF beserta terjadinya reformasi server SPF.
			</p>
                </div>
                <div class="hero-section__text">
                <h2>Kok Bisa?</h2>
                        <p>
				Hal ini dimulai dengan seseorang bernama Palpale (Hakim di server AST) ingin memperbaiki server SPF. Hal ini diperbolehkan oleh staff server SPF dengan memberikan permission Administrator. Palpale melakukan suatu hal
			</p>
                </div>
                </section>
	</Container>
</Layout>

<style>
                        .hero-section__section {
		                margin: var(--section-margin) auto;
		                min-height: clamp(90vh, 100vw, calc(100vh - var(--navbar-height)));
		                display: grid;
		                grid-template-columns: 1fr 1fr;
		                align-items: center;
		                gap: 1rem;
                	}
	                .hero-section__text {
	                	justify-self: center;
	                	max-width: 25rem;
                	}
	                .hero-btns__container {
	                	display: flex;
	                	align-items: center;
	                	gap: 1rem;
                	}
                	.hero-btns__container {
                		margin-right: 1rem;
                	}
                	.hero-section__image {
                		display: flex;
                	}
                	.hero-section__image img {
	                	width: 100%;
                		height: 100%;
	                	max-height: 80vh;
	                	object-fit: cover;
	                	border-radius: var(--theme-shape-radius);
                	}
                	@media (max-width: 768px) {
	                	.hero-section__section {
	                		grid-template-columns: 1fr;
                		}
                	}
</style>
