---
import { Container, TextCardSection } from '@littlesticks/odyssey-theme-components';

import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
---

<Layout>
	<HomeHeroSection />
	<Container>
		<TextCardSection>
			<h1>Apa itu Discord War 2?</h1>
			<p>
				Discord War 2 (atau disingkat DW2) merupakan suatu peristiwa dimana terjadi perseteruan antara komunitas Server AST (atau disebut juga Astonishing) dengan komunitas Server SPF (atau disebut juga dengan Sitil Pren Family).
			</p>
		</TextCardSection>
                <section class="hero-section__section">
                <div class="hero-section__text">
                <h2>Uhhh...</h2>
                        <p>
				Ya, mungkin ini terlihat mengejutkan bagi anda, tetapi ini nyata. Dampak dari perang ini menyebabkan pergantian server SPF beserta terjadinya reformasi server SPF.
			</p>
                </div>
                <div class="hero-section__text">
                <h2>Kok Bisa?</h2>
                        <p>
				Hal ini dimulai dengan seseorang bernama Palpale (Hakim di server AST) ingin memperbaiki server SPF. Hal ini diperbolehkan oleh staff server SPF dengan memberikan permission Administrator. Palpale melakukan suatu hal seperti biasanya, tetapi ada 1 hal yang akan menjadi perang ini, yaitu menghapus channel art. Staff server mulai marah lalu mencabut permission nya. Setelah itu, mereka mengembalikan channel tersebut. Setelah itu Palpale memberi kritikan terhadap server, tetapi tidak didengar oleh staff. Nah, pada saat ini lah ketika salah satu admin di server SPF, Wahyu Ganzo melakukan hal yang ilegal, yaitu mengirim file Minecraft crack, yang jelas tidak diperbolehkan di Discord. Palpale protes, tetapi admin server tersebut memberi Palpale ban.
			</p>
                </div>
                <div class="hero-section__text">
                <h2>Apa yang terjadi selanjutnya?</h2>
                        <p>
				SPF pindah server dan memulai aksinya, yaitu mulai menargetkan Palpale dan sekutunya. Mereka bersiap menggunakan akun alt mereka masing-masing. Tim Palpale tidak tinggal diam, mereka mulai brute force untuk masuk ke dalam server baru SPF, yaitu PB.
			</p>
                </div>
                <div class="hero-section__text">
                <h2>Masa Kelam SPF</h2>
                        <p>
				Setelah beberapa hari, para intelijen SPMP mulai melihat aktivitas yang aneh di SPF, yaitu staff mulai membahas hal yang tidak sopan, bersifat 18+, dan member yang tidak juga peduli. Hal ini memberikan rasa jijik para intelijen SPMP kepada server SPF dikarenakan topik pembahasan mereka yang sangat tidak sopan. Inilah yang membuat salah satu admin di server SPF, Salsa ingin meminta Wahyu Ganzo untuk stop membahas hal tersebut. Permintaan tersebut tidak dilakukan dan mereka semakin bandel.
			</p>
                </div>
                <div class="hero-section__text">
                <h2>Sebuah Plot Twist</h2>
                        <p>
				Para intelijen SPMP mulai memberikan tanda-tanda jika ingin berdamai, tetapi dengan satu syarat, yaitu mulai stop pembahasan 18+ tersebut. Permintaan ini ditolak mentah-mentah oleh staff SPF. Setelah beberapa bulan, terjadi plot twist yang sangat mengagetkan intelijen SPMP dan member server SPF. Hal tersebut adalah keluarnya staff penting SPF. Para intelijen sangat bingung apa yang terjadi dan kenapa bisa begitu. Setelah itu, ada hal yang lebih mengejutkan, yaitu keluar nya Wahyu Ganzo. Hal ini menjadi titik akhir perang dan Salsa mulai memindahkan server SPF ke tempat baru (ya, kedua kalinya). Perang ini dimenangkan oleh para intelijen SPMP dan AST community.
			</p>
                </div>
                <div class="hero-section__text">
                <h2>Ingin Melihat Percakapan nya?</h2>
                        <p>
				Kalian tinggal pilih channel dari server yang ingin kalian lihat di bawah. Dan jika ingin kembali ke halaman awal, tekan saja logo diatas.
                        </p>
                </div>
                </section>
	</Container>
</Layout>

<style>
                        .hero-section__section {
		                margin: var(--section-margin) auto;
		                min-height: clamp(90vh, 100vw, calc(100vh - var(--navbar-height)));
		                display: grid;
		                grid-template-columns: 1fr 1fr;
		                align-items: center;
		                gap: 1rem;
                	}
	                .hero-section__text {
	                	justify-self: center;
	                	max-width: 25rem;
                	}
	                .hero-btns__container {
	                	display: flex;
	                	align-items: center;
	                	gap: 1rem;
                	}
                	.hero-btns__container {
                		margin-right: 1rem;
                	}
                	.hero-section__image {
                		display: flex;
                	}
                	.hero-section__image img {
	                	width: 100%;
                		height: 100%;
	                	max-height: 80vh;
	                	object-fit: cover;
	                	border-radius: var(--theme-shape-radius);
                	}
                	@media (max-width: 768px) {
	                	.hero-section__section {
	                		grid-template-columns: 1fr;
                		}
                	}
</style>
