---
import { parse, isBefore } from 'date-fns';
import {
	Container,
	TextCardSection,
	BlogPostsList,
} from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import NewsletterForm from '../../components/forms/NewsletterForm.astro';

const posts = await Astro.glob('./posts/*.mdx').then(posts =>
	posts
		.map(({ frontmatter, url }) => ({
			title: frontmatter.title,
                        firstName: frontmatter.firstName,
			description: frontmatter.description,
			publishDate: parse(frontmatter.publishDate, 'd MMMM yyyy', new Date()),
			featuredImage: frontmatter.featuredImage,
			excerpt: frontmatter.excerpt,
			href: url,
		}))
		.sort((a, b) => {
			if (isBefore(a.firstName, b.firstName)) return 1;
			if (isBefore(b.firstName, a.firstName)) return -1;
			return 0;
		})
);

const seo = {
	title: 'Daftar Siswa | 9A (XV)',
	description: 'Daftar Siswa Kelas 9A (Angkatan 15)',
};
---

<Layout {seo}>
	<Container>
		<TextCardSection>
			<h1>Daftar Siswa</h1>
			<p>
				Daftar Siswa/Siswi Kelas 9A Beserta Informasi-informasi (Yang Mereka Berikan).
			</p>
		</TextCardSection>
		<section class="blog-posts-list__section">
			<BlogPostsList posts={posts} />
		</section>
	</Container>
</Layout>

<style>
	.blog-posts-list__section {
		margin: var(--section-margin) auto;
	}
</style>
